*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
    background: linear-gradient(135deg,#77bcce,#c6cf4aa9);
}

.navbar{
    background: rgb(41, 131, 138);
    height: 80px;
    width: 100%;
    font-family: calibri;
    border-radius: 10px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size:  50px;
    font-weight: 400;
    color: white;
    margin-left: 25px;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar li a{
   color:white;
   font-size: 30px;
   font-weight: bold;
   margin-right: 100px;

}

.navbar li a:hover{
    background: none;
    color: gray;

}




