*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg,#77bcce,#c6cf4aa9);

}

.wrapper1{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.wrapper2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.wrapper3{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.foodorder1{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    margin-left: 1.5em;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    float:left;

}

.foodorder1 h2{
    color: #4b0dc0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }

  .foodorder2{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    float: right;
    

}

.foodorder2 h2{
    color: #c00d84;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }

  .foodorder3{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    

}

.foodorder3 h2{
    color: #077059;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }


.foodorder4{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    margin-left: 1.5em;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    float:left;

}

.foodorder4 h2{
    color: #c00d0d;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }

  .foodorder5{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    float: right;
    

}

.foodorder5 h2{
    color: #c95511;
    align-items: center;
    margin-bottom: 20px;
  
  }

  .foodorder6{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    

}

.foodorder6 h2{
    color: #740847;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }

.foodorder7{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    margin-left: 1.5em;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    float:left;

}

.foodorder7 h2{
    color: #054226;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }

  .foodorder8{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    float: right;
    

}

.foodorder8 h2{
    color: #323cca;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }

  .foodorder9{
    width: 30%;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;;
    padding-left: 50px;
    border-radius: 10px;
    

}

.foodorder9 h2{
    color: #13702a;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  }

  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 0.3;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
    font-weight: 20px;
}

button{
    border: none;
    outline: none;
    padding: 20px 50px;
    background:#0bd1a6;
    color: #070105;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

.wrapper1 ul li {
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative

}


.wrapper1 li::before{
    content: '';
    position: absolute;
    height:28px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/image2.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;

}

.wrapper2 ul li {
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative

}


.wrapper2 li::before{
    content: '';
    position: absolute;
    height:28px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/image2.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;

}

.wrapper3 ul li {
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative

}


.wrapper3 li::before{
    content: '';
    position: absolute;
    height:28px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/image2.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;

}
ul li.completebox{
    color:#3085e7;
    text-decoration: line-through;

}
ul li.completebox::before{
    background-image: url(images/image3.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5 px;
    width: 30px;
    height: 40px;
    font-size: 22 px;
    color: #a52828;
    line-height: 40px;
    text-align: center;

}
ul li span:hover{
    background: #edeef0 ;
}


.navbar{
    background: rgb(41, 131, 138);
    height: 80px;
    width: 100%;
    font-family: calibri;
    border-radius: 10px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size:  50px;
    font-weight: 400;
    color: white;
    margin-left: 25px;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar li a{
   color:white;
   font-size: 30px;
   font-weight: bold;
   margin-right: 100px;
   text-decoration: none;

}

.navbar li a:hover{
    background: none;
    color: gray;

}
