*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}


.main{
    min-height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
}

img{
    width: 50wv;
    height: 100vh;
    display:block;
    object-fit: cover;
    object-position: center;
}

.right{
    text-align: center;
}

.right p{
    text-align: right;
}